<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <input type="text" (keyup.enter)="crearAsistencia()" placeholder="DNI del cliente" id="inputDNI" class="form-control form-control-lg h-100" [maxLength]="8" [(ngModel)]="txtDNI">
        </div>
        <div class="col-3">
            <a (click)="crearAsistencia()" class="btn btn-info w-100 text-white h-100 d-flex align-items-center font-weight-bold" type="button" id="btnAsistencia">
                <i class="fas fa-check-circle mr-2 text-white"></i> Registrar Asistencia
            </a>
        </div>
        <hr>
        <div class="col-12 text-center mt-5">
            <h1>Bienvenido a MuslitoFIT:</h1>
            <h1 [style.color]="colorTexto">
                {{ nombreCliente }}
              </h1>
        </div>
    </div>
</div>