<div class="container py-4">
  <div class="row align-items-center gy-3">
    <div class="col-9">
      <input
        id="inputDNI"
        type="text"
        class="form-control form-control-lg"
        [(ngModel)]="txtDNI"
        (keyup.enter)="buscarCliente()"
        maxlength="8"
        placeholder="DNI del cliente"
      />
    </div>
    <div class="col-3">
      <button
        class="btn btn-info w-100 btn-lg d-flex align-items-center justify-content-center"
        type="button"
        (click)="buscarCliente()"
        id="btnAsistencia"
      >
        <i class="fas fa-check-circle me-2"></i>
        <span>Registrar Asistencia</span>
      </button>
    </div>

    <!-- Separador -->
    <div class="col-12">
      <hr class="my-4" />
    </div>
    <div class="col-12 text-center mt-3">
      <p class="h5 mb-1">Bienvenido a MuslitoFIT:</p>
      <h2 class="fw-bold mb-1" [style.color]="colorTexto">
        {{ cliente?.nombreCliente || 'Cliente no encontrado' }}
        {{ cliente?.apellidos || '' }}
      </h2>
      <p class="h6 text-muted">{{ diasRestantes }}</p>
    </div>
  </div>
</div>
