<div class="container py-4">
  <div class="row align-items-center gy-3">
    <div class="col-9">
      <input
        id="inputDNI"
        type="text"
        class="form-control form-control-lg"
        [(ngModel)]="txtDNI"
        (keyup.enter)="buscarCliente()"
        maxlength="8"
        placeholder="DNI del cliente"
      />
    </div>
    <div class="col-3">
      <button
        class="btn btn-info w-100 btn-lg d-flex align-items-center justify-content-center"
        type="button"
        (click)="buscarCliente()"
        id="btnAsistencia"
      >
        <i class="fas fa-check-circle me-2"></i>
        <span>Registrar Asistencia</span>
      </button>
    </div>

    <div class="col-12">
      <hr class="my-4" />
    </div>
    <div class="col-12 text-center mt-5">
      <p class="h3 mb-3">Bienvenido:</p>
      <h1
        class="fw-bold mb-4"
        [style.color]="colorTexto"
        style="font-size: 4rem; letter-spacing: 0.3rem"
      >
        {{ cliente?.nombreCliente || "Cliente no encontrado" }}
        {{ cliente?.apellidos || "" }}
      </h1>
      <p class="h4 text-dark" style="font-size: 2rem; letter-spacing: 0.2rem">
       {{ diasRestantes }}
      </p>
    </div>
  </div>
</div>
