<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <ul class="navbar-nav navbar-nav-right">                      
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link" id="profileDropdown" data-toggle="dropdown" aria-expanded="false">
                    <div class="user" (click)="mostrarModal = !mostrarModal" style="cursor: pointer;" (click)="ajustes()">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </a>
                <div [ngStyle]="{'display': mostrarModal ? 'block' : 'none'}" class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                    <div class="p-2">
                        <h6 class="dropdown-header text-uppercase pl-2 text-dark">Usuario: {{ usuario }}</h6>
                        <h5 class="dropdown-header text-uppercase pl-2 text-dark">Opciones de usuario</h5>
                        <a class="dropdown-item py-1 d-flex align-items-center justify-content-between">
                            <span>Ver Perfil</span>
                            <span class="p-0">
                                <i class="mdi mdi-account-outline ml-1"></i>
                            </span>
                        </a>                        
                        <div role="separator" class="dropdown-divider"></div>
                        <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Acciones</h5>
                        <a class="dropdown-item py-1 d-flex align-items-center justify-content-between">
                            <span id="spanCambiarPagina">Cambiar contraseña</span>
                            <i class="mdi mdi-lock ml-1"></i>
                        </a>
                        <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" style="cursor: pointer;" (click)="cerrarSesion()">
                            <span>Salir</span>
                            <i class="mdi mdi-logout ml-1"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
