<div>
  <h3 class="card-title">
    <span class="text-dark">
      <i class="nav-icon fas fa-list"></i>
    </span>
    Lista de clientes inactivos
  </h3>
</div>
<hr />
<div class="row">
  <div class="col-8">
    <a
      class="btn btn-secondary btn-sm"
      role="button"
      style="cursor: pointer; margin-right: 5px"
      (click)="generarReport()"
    >
      <i class="fa-solid fa-file-pdf text-white"></i>
    </a>
  </div>
  <div class="col-4">
    <input placeholder="Buscar" class="form-control" [(ngModel)]="buscarClie" (keyup)="onKeyReleased()"/>
  </div>
</div>
<hr />
<table
  id="miTabla"
  class="table table-striped table-bordered table-responsive-md"
  style="width: 100%"
>
  <thead>
    <tr>
      <th class="text-center">Codigo</th>
      <th class="text-center">Nombres</th>
      <th class="text-center">Apellidos</th>
      <th class="text-center">DNI</th>
      <th class="text-center">Email</th>
      <th class="text-center">Teléfono</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientesPaginados | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: length }">
      <td>{{ cliente.idCliente }}</td>
      <td>{{ cliente.nombreCliente }}</td>
      <td>{{ cliente.apellidos }}</td>
      <td>{{ cliente.dni }}</td>
      <td>{{ cliente.emailClie }}</td>
      <td>{{ cliente.telefonoCliente }}</td>
      <td>
        <a
          class="btn btn-info btn-sm"
          role="button"
          style="margin-right: 5px; cursor: pointer"
          (click)="editarCliente(cliente.idCliente)"
        >
          <i class="far fa-edit text-white"></i>
        </a>
        <a
          class="btn btn-dark btn-sm"
          role="button"
          style="margin-right: 5px; cursor: pointer"
          (click)="renovarClienteModal(cliente.idCliente)"
        >
        <i class="fa-solid fa-retweet text-white"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<div *ngIf="mostrarModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="titulo" class="modal-title">{{ tituloModal }}</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="mostrarDivReg" class="registrarCliente">
          <label id="lblDNI" for="dni">DNI:</label>
          <input
            [(ngModel)]="txtDNI"
            (ngModelChange)="actualizarCamposAutomaticamente()"
            placeholder="DNI"
            class="form-control"
            maxlength="8"
          />
          <label id="lblNombres" for="nombres">Nombres:</label>
          <input
            type="text"
            id="nombres"
            placeholder="Nombres"
            [(ngModel)]="txtNombre"
            class="form-control"
          />
          <label id="lblApellidos" for="apellidos">Apellidos:</label>
          <input
            id="apellidos"
            placeholder="Apellidos"
            [(ngModel)]="txtApellido"
            class="form-control"
          />
          <label id="lblCorreo" for="correo">Correo:</label>
          <input
            type="email"
            placeholder="Correo"
            id="correo"
            class="form-control"
            [(ngModel)]="txtCorreo"
          />
          <label id="lblTelefono" for="telefono">Telefono:</label>
          <input
            type="text"
            placeholder="Telefono"
            id="telefono"
            class="form-control"
            [(ngModel)]="txtTelefono"
            maxlength="9"
          />
        </div>
        <div class="matricula" *ngIf="mostrarDivMatri">
          <label id="lblMembresia" for="input1">Membresía: </label>
          <select
            id="input1"
            class="form-control"
            [(ngModel)]="matriculaSeleccionada"
            (ngModelChange)="cambiarTipoMembresia()"
          >
            <option value="1">Gold</option>
            <option value="2">Platino</option>
            <option value="3">Básico</option>
          </select>
          <label id="lblFI" for="input2">Fecha Inicio:</label>
          <input
            type="date"
            id="input2"
            class="form-control"
            [(ngModel)]="fechaInicio"
            (ngModelChange)="calcularFechaFin()"
          />
          <label id="lblFF" for="input3">Fecha Fin:</label>
          <input
            type="date"
            id="input3"
            class="form-control"
            [(ngModel)]="fechaFin"
          />
        </div>
        <div class="pago" *ngIf="mostrarDivPagar">
          <label id="lblPago" for="cboMetoPago">Pago </label>
          <select
            id="cboMetoPago"
            class="form-control"
            [(ngModel)]="metodoPago"
          >
            <option value="Tarjeta">Tarjeta</option>
            <option value="Efectivo">Efectivo</option>
          </select>
          <label id="lblMonto" for="txtMonto">Monto: </label>
          <input
            type="text"
            id="txtMonto"
            class="form-control"
            [(ngModel)]="monto"
            readonly
          />
        </div>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-danger btn-sm"
          role="button"
          style="cursor: pointer"
          (click)="cerrarModal()"
        >
          <i class="fa fa-close text-white"></i>
        </a>
        <a
          class="btn btn-primary btn-sm"
          role="button"
          style="cursor: pointer"
          id="btnRegistrar"
          *ngIf="botonRegistrar"
        >
          <i class="fa-solid fa-arrow-right text-white"></i>
        </a>
        <a
          class="btn btn-warning btn-sm"
          role="button"
          style="cursor: pointer"
          id="btnRegistrar"
          *ngIf="botonEditar"
          (click)="actualizarCliente()"
        >
          <i class="fa-solid fa-arrow-right text-white"></i>
        </a>       
        <a
          class="btn btn-primary btn-sm"
          role="button"
          style="cursor: pointer"
          id="btnMatricular"
          *ngIf="botonMatricular"
          (click)="matricularCliente()"
        >
          <i class="fa-solid fa-user-plus text-white"></i>
        </a>
        <a
          class="btn btn-primary btn-sm"
          role="button"
          style="cursor: pointer"
          id="btnPagar"
          *ngIf="botonPagar"
          (click)="pagoCliente()"
        >
          <i class="fa-solid fa-credit-card text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
