<div class="container-fluid mt-3">
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-user"></i> PERFIL</summary>
            <hr>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Cambiar contraseña</strong></li>
                    <li class="list-group-item">Actualizar información</li>
                    <li class="list-group-item">Eliminar cuenta</li>
                </ul>
            </div>
        </details>
    </div>
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-paint-brush"></i> APARIENCIA</summary>
            <hr>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item">Apariencia modo nocturno/modo día</li>
                    <li class="list-group-item">Tamaño de texto</li>
                    <li class="list-group-item">Colores y estilos</li>
                </ul>
            </div>        </details>
    </div>
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-lock"></i> SEGURIDAD</summary>
            <!-- Contenido de la seguridad -->
        </details>
    </div>
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-database"></i> GESTIÓN Y DATOS</summary>
            <!-- Contenido de la gestión y datos -->
        </details>
    </div>
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-life-ring"></i> AYUDA Y SOPORTE</summary>
            <!-- Contenido de la ayuda y soporte -->
        </details>
    </div>
    <div class="custom-container">
        <details>
            <summary><i class="fa fa-sign-out-alt"></i> SALIR DE LA SESIÓN</summary>
            <!-- Contenido para salir de la sesión -->
        </details>
    </div>
</div>